@CHARSET "ISO-8859-1";

/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 6em;
}

p {
    font-size: 2em;
}

.section {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

.about-top {
    text-align: center;
    margin-bottom: 50px;
}

.about-top h1 {
    font-size: 35px;
}

.about-tag-container {
    display: none;
}

.about-tag {
    border: 1px solid #994E0B;
    padding: 5px 9px;
    display: inline-block;
    margin: 0 0 16px 16px;
    font-weight: normal;
    font-size: 18px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.wrap:before,
.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.content-split .column {
    float: left;
}

.content-col-1 {
    width: 33.33333%;
    width: -webkit-calc(33.33333% - 40px);
    width: -moz-calc(33.33333% - 40px);
    width: -o-calc(33.33333% - 40px);
    width: calc(33.33333% - 40px);
    padding: 20px;
}

.wrap img {
    height: 100%;
    box-shadow: 0 10px 30px #333;
    opacity: 0;
}

.circle-col {
    width: 25%;
    width: -webkit-calc(25%);
    width: -moz-calc(25%);
    width: -o-calc(25%);
    width: calc(25%);
    padding: 4.5% 0;
}

.col21 {
    margin-left: 12.5%;
}

.circle-container {
    padding: 0 9%;
    ;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto;
    box-shadow: 0 1px 2px #333;
    opacity: 0;
}

.circle span {
    height: 120px;
    line-height: 120px;
    display: block;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
}

.circle-bg1 {
    background-color: #3D9699;
}

.circle-bg2 {
    background-color: #B24500;
}

@media screen and (max-width: 750px) {
    .about-top {
        margin-bottom: 30px;
    }
    .about-tag {
        padding: 2px 5px;
        margin: 0 0 10px 8px;
        font-size: 16px;
    }
    .circle-container {
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    .wrap img {
        opacity: 1;
        width: 100%;
    }
    .wrap {
        padding: 0px;
    }
    .content-split .column {
        float: none;
        clear: both;
        width: auto;
    }
    .circle {
        opacity: 1;
    }
    .col21 {
        margin-left: 0;
    }
}

.animated2 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}