---
layout: cubes
---
<div style="margin-top:50px;">
  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
      <div class="mregion">
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class="title-desc" style="margin-bottom: 15px;">
          {{ post.excerpt }}
        </div>
		
		<div style="margin-top: 10px; font-size: 12px; color: #999;">
		  {% if post.categories.size > 0 %}
            <i class="fa fa-folder"></i>
            {% for c in post.categories %}
                  <a class="cat-tag" href="/{{c}}/">{{c}}</a>
            {% endfor %}
          {% endif %}
		  
          <span style="margin-left:20px;"></span>
		  
          {% if post.tags.size > 0 %}
            <i class="fa fa-tags"></i>
            {% for c in post.tags %}
              <span class="cat-tag">{{c}}</span>
            {% endfor %}
          {% endif %}
		</div>
      </div>
      </li>
    {% endfor %}
  </ul>
</div>

