<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl }}' />

    <style type="text/css">
    .demo{height:1400px; padding-top:100px}
    .demo p{text-align:center; height:32px; line-height:32px; font-size:16px}
    .demo p span{margin:20px}
    .demo p a.cur{color:#f60; font-weight:bold}
    a.backToTop{width:50px; height:50px; background:#eaeaea url(/image/top.png) no-repeat 0px 0; text-indent:-999em; opacity: .4;}
    a.backToTop:hover{opacity: .7;}
    </style>

    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/js/gotoTop.js"></script>
    <script type="text/javascript">
        $(function(){
	        $(".backToTop").goToTop();
	        $(window).bind('scroll resize',function(){
		        $(".backToTop").goToTop({
			        pageWidth:960,
			        duration:200
		        });
	        });
        });
    </script>

    <script type="text/javascript">
        (function (w, d, t, u, n, s, e) {
            w['SwiftypeObject'] = n; w[n] = w[n] || function () {
                (w[n].q = w[n].q || []).push(arguments);
            }; s = d.createElement(t);
            e = d.getElementsByTagName(t)[0]; s.async = 1; s.src = u; e.parentNode.insertBefore(s, e);
        })(window, document, 'script', '//s.swiftypecdn.com/install/v1/st.js', '_st');

        _st('install', 'Eyqkg4SVsPXt3ax_sRs7');
    </script>

</head>
