<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl }}' />

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/js/gotoTop.js"></script>
    <script type="text/javascript">
        $(function(){
	        $(".backToTop").goToTop();
	        $(window).bind('scroll resize',function(){
		        $(".backToTop").goToTop({
			        pageWidth:960,
			        duration:200
		        });

                //calc searchbox width
		        $("#st-search-input").css("width", $("#st-search-input").parent().width()-38);
	        });

            //scroll via nav
	        $(document).on('click', '.trigger a', function (event) {
	            event.preventDefault();

	            var anchor = $(this).attr('href').substring(1);
	           
	            if (window.screen.width < 600) {
	                $('.trigger').hide();
	            }

	            if (anchor == 'translate') {
	                $('#LauncherTranslatePhrase').click();
	                return;
	            }
	            if (anchor == 'about') {
	                location.href = '/about';
	                return;
	            }
                if (anchor == 'readingcloud') {
                    location.href = '/readingcloud';
                    return;
                }
	            
	            var el = $('#' + anchor);
	            var nav = $('.site-header');
	            var toTop = el.offset().top - nav.height() - 3;

	            $('html,body').animate({ scrollTop: toTop });

	            return false;
	        });

        });
    </script>

    <script type="text/javascript">
        (function (w, d, t, u, n, s, e) {
            w['SwiftypeObject'] = n; w[n] = w[n] || function () {
                (w[n].q = w[n].q || []).push(arguments);
            }; s = d.createElement(t);
            e = d.getElementsByTagName(t)[0]; s.async = 1; s.src = u; e.parentNode.insertBefore(s, e);
        })(window, document, 'script', '//s.swiftypecdn.com/install/v1/st.js', '_st');

        _st('install', 'Eyqkg4SVsPXt3ax_sRs7');
    </script>

</head>
