<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fromCatDir" value="../../../_site/_cat"/>
    <add key="fromTagDir" value="../../../_site/_tag"/>
    <add key="destCatDir" value="../../../cat"/>
    <add key="destTagDir" value="../../../tag"/>
  </appSettings>
</configuration>