---
layout: default
---

<div class="wrapcube">
    {{ content }}

    {% if paginator.total_pages > 1 %}
        <div id="page-nav" class="paging-panel">
        
            {% if paginator.previous_page %}
              <a style="float:left; padding: .5em 1em;" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <i class="fa fa-chevron-left"></i>&nbsp;Prev
              </a>
            {% endif %}

            {% assign start = paginator.page | minus: 4 %}

            {% if start < 1 %}
                {% assign start = 1 %}
            {% endif %}

            {% if start > 1 %}
                <span class="paging-num-not-current">...</span>
            {% endif %}

            {% assign end = paginator.page | plus: 4 %}
            {% if paginator.total_pages < end %}
                {% assign end = paginator.total_pages %}
            {% endif %}

            {% for page in (start..end) %}
                {% assign clshead = "" %}
                {% if page == start or page == end %}
                    {% assign clshead = "paging-num-head" %}
                {% endif %}

                {% assign count = end | minus: start %}
                {% if page == 1 or page == paginator.total_pages or count < 8 %}
                    {% assign clshead = "" %}
                {% endif %}

                {% if page == paginator.page %}
                    <span class="paging-num">{{ paginator.page }}</span>
                {% elsif page == 1 %}
                    <a class="paging-num paging-num-not-current {{ clshead }}" href="/">{{ page }}</a>
                {% else %}
                    <a class="paging-num paging-num-not-current {{ clshead }}" href="/page{{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if paginator.total_pages > end %}
                <span class="paging-num-not-current">...</span>
            {% endif %}

            {% if paginator.next_page %}
              <a style="float:right; padding: .5em 1em;" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                Next&nbsp;<i class="fa fa-chevron-right"></i>
              </a>
            {% endif %}

        </div>
    {% endif %}
</div>

