<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">
        <div class="content-split">
            <div class="wrap">
                <div class="content-col-1 column">{{ content }}</div>
                <div class="content-col-2 column">
                    <div class="sidebar">
                        <form>
                            <input type="text" id="st-search-input" class="st-search-input" />
                        </form>
                    </div>

                    <div class="sidebar">
                        <div class="category-header">Categories</div>
                        <hr />
                        <ul class="category-panel">
                            <li>
                                <a class="category-link" href="/life/">Life({{ site.categories.life.size }})</a>
                            </li>
                            <li>
                                <a class="category-link" href="/it/">IT({{ site.categories.it.size }})</a>
                            </li>
                            <li>
                                <a class="category-link" href="/github/">GitHub({{ site.categories.github.size }})</a>
                            </li>
                            <li>
                                <a class="category-link" href="/web/">Web({{ site.categories.web.size }})</a>
                            </li>
                            <li>
                                <a class="category-link" href="/linux/">Linux({{ site.categories.linux.size }})</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar" style="background:none;">
                        <div id="qrcode" style="text-align:center;"></div>
                        <script>
                            $('#qrcode').qrcode({
                                text: window.location.href,
                                width: 150,
                                height: 150
                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>
