---
layout: default
---
<div id="div_post" class="post">

    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <div class="meta">
            <div style="margin-bottom:10px;">
                {{ page.date | date: "%b %-d, %Y" }}

                <div style="float:right;" class="bdsharebuttonbox">
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                    <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
                    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                    <a href="#" class="bds_more" data-cmd="more"></a>
                </div>
            </div>
            
            {% if page.categories.size > 0 %}
              <i class="fa fa-folder"></i>
              {% for c in page.categories %}
                <a class="cat-tag" href="/cat/{{c}}/">{{c}}</a>
              {% endfor %}
            {% endif %}

            <span style="margin-left:20px;"></span>

            {% if page.tags.size > 0 %}
              <i class="fa fa-tags"></i>
              {% for c in page.tags %}
                <a class="cat-tag" href="/tag/{{c}}/">{{c}}</a>
              {% endfor %}
            {% endif %}

        </div>

        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'abelsblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>